.modal {
  text-align: center;
  flex: 1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: white;
  a {
      color: inherit;
  }
}

.modal__content .button--stream {
    border-color: theme-color('white');
}

.modal__content {
}

.modal__close-button {
  position: fixed;
  box-shadow: none;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  color: theme-color('white');
}
