<!doctype html>
<html>
  <head>
    <title><%= page.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <% if (vendors.facebookAppId) { %>
      <meta property="fb:app_id" content="<%= vendors.facebookAppId %>">
    <% } %>
    <meta property="og:title" content="<%= page.title %>">
    <meta property="og:description" content="<%= page.description %>">
    <meta property="og:image" content="<%= require('../images/og.jpg').default %>">
    <meta property="og:url" content="<%= page.url %>">
    <meta name="twitter:card" content="summary_large_image">
    <script type="text/javascript">
      <%
        // Remove empty socials
        const reducedSocials = Object.entries(socials).reduce((a, [k, v]) => (v ? (a[k]=v, a) : a), {});
      %>
      var atlConfig = {
        page: <%= JSON.stringify(page) %>,
        mlist: <%= JSON.stringify(mlist) %>,
        omniture: <%= JSON.stringify(omniture) %>,
        socials: <%= JSON.stringify(reducedSocials) %>,
        vendors: <%= JSON.stringify(vendors) %>
      };
    </script>
    <% if (vendors.typekitId) { %>
      <link rel="stylesheet" href="https://use.typekit.net/<%= vendors.typekitId %>.css">
    <% } %>
    <% if (vendors.googleFonts) { %>
        <link href="https://fonts.googleapis.com/css?family=<%= vendors.googleFonts %>" rel="stylesheet">
    <% } %>

    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <% if (omniture.settings) { %>
      <script type="text/javascript">
        var digitalData = <%= JSON.stringify(omniture) %>;
      </script>

      <script src="//assets.adobedtm.com/launch-EN302b8a31b75a4dda8ff8df1d0cdb4762.min.js" async></script>
    <% } %>
  </head>
  <body>
    <% if (vendors.facebookAppId) { %>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : <%= vendors.facebookAppId %>,
            xfbml      : true,
            version    : 'v5.0'
          });
        };
      </script>
      <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <% } %>
    <% if(vendors.topsifyId) { %>
      <script src="https://campaigns.topsify.com/app/sdk/platform.js?campaign=<%= vendors.topsifyId %>"></script>
    <% } %>
    <% if (omniture.settings) { %>
      <script type="text/javascript">if (window._satellite) { _satellite.pageBottom(); }</script>
    <% } %>
    <script src="//connect.soundcloud.com/sdk.js"></script>
  </body>
</html>
