.section--preorder,
.section--stream-follow-save {
    .section__header {
        margin-top: -1.2em;
        p {
            background-color: $primary;
            color: $body-color;
            font-weight: 300;
            max-width: 80%;
            margin: 0.5rem auto;
            font-size: 12px;
        }
    }
}

.preorder-copy, .stream-copy {
  display: none;
}

.primary-header {
  color: $body-color;
}

.primary-header h1 {
    margin-bottom: 1.5rem;
}

.primary-header h2 {
    //font-size: 20px;
    margin: 0 auto;
    text-transform: uppercase;
}

.primary-header .album-art {
    margin-bottom: 1rem;
}

.primary-header p {
    font-size: 18px;
}

.dsp-list {
    list-style-type: none;
    margin: 1rem auto;
    padding: 0;
    max-width: 252px;
    width: 100%;
    li {
        &:last-child {
            .button--stream {
                border-bottom: none;
            }
        }
    }
}

.button--stream {
    display: flex;
    border: none;
    border-bottom: 1px solid theme-color('white');
    text-decoration: none;
    background: none;
    font-weight: bold;
    width: 100%;
    text-align: left;
    color: $link-color;
    padding: 0.5rem 0;
    align-items: center;
    transition: color 0.3s ease;
    font-size: 14px;
    i:first-child {
        flex-basis: 18px;
        margin-right: 12px;
    }
    //i, .icon--deezer, .icon--tidal {
    //    flex-basis: 18px;
    //    margin-right: 12px;
    //}
    .icon--deezer, .icon--tidal {
        .icon__svg {
          fill: $link-color;
          transition: fill 0.3s ease;
        }
    }
    .icon--external-link {
        width: 16px;
        height: 16px;
    }
    .icon--view-more {
        width: 17px;
        height: 21px;
    }
    .icon--external-link, .icon--view-more {
        & .icon__svg {
          fill: theme-color('white');
        }
    }
    .icon__svg {
        width: 100%;
        height: 100%;
        display: block;
    }
    .atl-icon {
      color: $primary;
    }
    .label {
        flex: 1;
        font-weight: 300;
    }
    &:hover {
        text-decoration: none;
        color: theme-color('white');

        & .icon--tidal, & .icon--deezer {
            .icon__svg {
                fill: theme-color('white');
            }
        }
    }
}

button {
    cursor: pointer;
}

.button--launch-video {
    border: none;
    padding: 0;
    background: none;
    margin-bottom: 1rem;
    position: relative;
    &:after {
        content: '';
        background-image: url('./images/play.svg');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.icon {
    background-repeat: no-repeat;
    background-position: center left;
    height: 16px;
}

.atl-title {
  font-size: 18px !important;
  // font-family: "proxima-nova", sans-serif;
  font-weight: 700 !important;
}

//.icon--tidal {
//    background-image: url('./images/tidal_icon.svg');
//}
//
//.icon--deezer {
//    background-image: url('./images/deezer_icon.svg');
//}
