$blue: #84BFFF;
$black: #000000;
$white: #FFFFFF;

$primary: $blue;
$secondary: $red;

// Bootstrap theme colors
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'black': $black,
  'white': $white,
  'blue': $blue,
);

$body-color: $white;
$body-bg: $black;
$link-color: $white;
$input-placeholder-color: $black;
$link-decoration: underline;

// Grid Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Font families
$font-family-sans-serif: 'burnaby-stencil', sans-serif;
$font-family-alt: 'proxima-nova', sans-serif;
$font-family-base: $font-family-sans-serif;

// Font sizes
$font-size-base: (16 / 16) * 1rem;
$line-height-base: 1.4;
$font-size-lg: (18 / 16) * 1rem;
$font-size-xxl: (40 / 16) * 1rem;
$font-size-xl: (25 / 16) * 1rem;
$font-size-sm: (14 / 16) * 1rem;
$font-size-mc: (10 / 16) * 1rem;
$h1-font-size: (75 / 16) * 1rem;
$h2-font-size: (30 / 16) * 1rem;
$h3-font-size: (27 / 16) * 1rem;
$h4-font-size: (22 / 16) * 1rem;
$btn-font-size: $font-size-base;
$small-font-size: $font-size-sm;

// Font weights
$font-weight-base: 400;
$headings-font-weight: 400;


// Buttons
$btn-border-radius: 0;
$btn-font-family: $headings-font-family;
$btn-font-weight: $headings-font-weight;
$btn-font-size: $h3-font-size;
$input-btn-padding-x: 2.5rem;

// Icon settings
$icon-common-class: 'atl-icon';
$icon-prefix: 'atl-icon--';
