.btn {
  font-size: $btn-font-size;
  box-shadow: 0 3px 6px rgba($black, 0.16);
  min-width: (130 / 16) * 1rem;
  text-decoration: none;
}

.btn-link {
  padding: 0;
  border: 0;
  min-width: 0;
}

.micro {
  font-size: $font-size-mc;
}

.atl-icon--view-more {
    font-size: 4px;
}
.primary-footer {
  font-size: 14px;
  font-family: $font-family-alt;

  .copyright {
    color: #999999;
    margin-bottom: 0.5rem;
  }

  .footer-links {
    font-size: 10px;
  }
}
.section {
  border: 1px solid theme-color('primary');
  margin: 3rem auto;
  max-width: 375px;
  padding: 1rem;
  padding-top: 0;
  width: 100%;
}

.section__header{
  text-align: center;
}

.section h3 {
  font-size: 20px;
  display: inline-block;
  color: $body-bg;
  background-color: $primary;
  padding: 0.5rem 1.5rem;
  margin: 0;
}

.section--center-text {
  text-align: center;
}

.section__container {
}

.section__heading {
  margin: 1rem 0;
  font-size: 20px;
  text-transform: uppercase;
}

.h1-responsive {
  @include media-breakpoint-down(sm) {
    font-size: (60 / 16) * 1rem;
  }
}

.h2-responsive {
  @include media-breakpoint-down(sm) {
    font-size: (25 / 16) * 1rem;
  }
}
