.dsp-connect-dialog {
    max-width: 262px;
    width: 100%;
    .wrapper {
        margin: 20px auto;
    }
    .album-art {
        width: 100%;
        border: 1px solid atl-color('blue');
    }
    .wrapper--terms {
        margin: 20px auto;
    }
    .dsp-action-description {
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        padding: 0;
        display: block;
    }
    .terms button, .terms__body {
        border: none;
        font-size: 12px;
        font-family: 'Helvetica', sans-serif;
        font-weight: 100;
        font-style: italic;
        color: inherit;
    }
    .terms-agree {
        display: flex;
        .custom-checkbox {
            margin: 0;
        }
    }
    .terms-agree__body {
        font-size: $font-size-mc;
        font-family: 'Helvetica', sans-serif;
        padding-left: $spacer;
        text-align: left;
    }
    .terms-agree__error {
        width: 100%;
        color: atl-color('purple');
        font-size: $font-size-sm;
    }
}
