.section.gate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    .embed-responsive {
        height: 100vh;
    }
}

// .gate .section__main {
//     max-width: 340px;
//     width: 100%;
//     margin: 0 auto;
// }

.heading-text {
    font-size: 25px;
}

.login-terms-wrapper {
    display: flex;
    //flex-wrap: wrap;
    input {
        margin-right: 0.8em;
        margin-top: 0.1em;
    }
}

.terms-error {
    font-size: 12px;
    color: red;
}

.sweeps-terms, .login-terms-wrapper p {
    font-size: 8px;
}

.terms {
    margin-top: 1em;
}

.terms button {
    border: none;
    color: atl-color('primary');
}

.gate__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-wrapper {
    display: flex;
    justify-content: space-between;
    input[type="email"] {
        padding: 0 0.5em;
        border: none;
    }
}
